@inherits LayoutComponentBase

<div class="pageContainer">
    <Header></Header>

    <main class="pageMain">
            @Body
            <MudThemeProvider/> 
            <MudDialogProvider/> 
            <MudSnackbarProvider/> 
    </main>
</div>

@code {

}