.page-main {
    flex: 1;
    opacity: 0;
    transition: opacity linear 0.2s;
}

    .page-main.ready {
        opacity: 1;
    }

::deep #dockmanager1 {
    width: 100%;
    height: 100%;
}

.dockmanager-content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
