.chart-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.control-bar {
    padding: 6px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.options-label {
    margin-right: 4px;
}

.legend-title {
    margin-left: 14px;
    margin-right: 4px;
}

::deep igc-button::part(base) {
    color: #fff;
    background-color: hsla(var(--igc-primary-500), var(--igc-primary-a));
    text-transform: none;
}

.data-chart-area {
    flex: 1;
}