@using System.IO
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using Infragistics.Documents.Excel
@using Microsoft.JSInterop.WebAssembly
@using Toolbelt.Blazor.FileDropZone
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject HttpClient HttpClient
@inject DashboardService DashboardService

<div class="dashboard-menu-container">

    <FileDropZone class="drop-zone">

        <div @ref="FileSelectorRef" class="file-upload-region">
            <InputFile OnChange="@OnInputFileChanged" style="display:none;" />
            <p>
                <IgbButton Class="file-selector-button" @onclick="OnClickSelectFile">
                    .xlsx ファイル選択
                </IgbButton>
            </p>

            <div class="divider"></div>

            <p>
                <IgbButton Class="load-sample-button" @onclick="OnClickLoadSampleFile">
                    内蔵のサンプルデータで表示
                </IgbButton>
            </p>

            <div class="divider"></div>

            <p class="guide-message">ここにファイルをドラッグ & ドロップ</p>
        </div>

        <ul class="dashboard-list">
            @if (this.Items != null)
            {
                foreach (var item in this.Items)
                {
                    <li @key="item.ID" class="dashboard-item @(ActiveItem == item ? "dashboard-item-active" : "")" @onclick="(s => OnItemSelected(item))">
                        <span class="material-icons">description</span>@item.Title
                    </li>
                }
            }
        </ul>

        @if (this.IsLoading == true)
        {
            <div class="progress-style">
                <p class="progress-message">
                    データを設定中です
                </p>
                <IgbLinearProgress Variant="ProgressBaseVariant.Primary" Indeterminate="true" />
            </div>
        }

    </FileDropZone>
</div>

@code {

    [Parameter]
    public EventCallback<MenuSelectedEventArgs> OnSelectedItemCallback { get; set; }

    private ObservableCollection<DashboardItem>? Items;

    public DashboardItem? ActiveItem;

    private const long MaxFileSize = 1024 * 15;

    private const int MaxAllowedFiles = 3;

    private bool IsLoading;

    private ElementReference FileSelectorRef;

    private IJSObjectReference? JSModule;

    protected override void OnInitialized()
    {
        Workbook.InProcessRuntime = (IJSInProcessRuntime)this.JS;
        this.Items = this.DashboardService.Items;
    }

    private async ValueTask<IJSObjectReference> GetJSModuleAsync()
    {
        if (this.JSModule == null)
        {
            this.JSModule = await this.JS.InvokeAsync<IJSObjectReference>("import", "./Components/DashboardMenu.razor.js");
        }
        return this.JSModule;
    }

    private async Task OnClickSelectFile()
    {
        var module = await this.GetJSModuleAsync();
        await module.InvokeVoidAsync("onClickSelectFile", FileSelectorRef);
    }

    private async Task OnClickLoadSampleFile()
    {
        async IAsyncEnumerable<(string, byte[])> sampleFileLoader()
        {
            var sampleFileytes = await this.HttpClient.GetByteArrayAsync("./sample-data.xlsx");
            yield return ("sample-data.xlsx", sampleFileytes);
        };

        await this.LoadDashboardItemsAsync(sampleFileLoader());
    }

    private void OnItemSelected(DashboardItem item)
    {
        this.OnSelectedItemCallback.InvokeAsync(new(item));
        this.ActiveItem = item;
    }

    private async Task OnInputFileChanged(InputFileChangeEventArgs args)
    {
        async IAsyncEnumerable<(string, byte[])> selectedFileLoader()
        {
            foreach (var file in args.GetMultipleFiles(MaxAllowedFiles))
            {
                var buffers = new byte[file.Size];
                await file.OpenReadStream().ReadAsync(buffers);
                yield return (file.Name, buffers);
                this.StateHasChanged();
                await Task.Delay(200);
            }
        };

        await this.LoadDashboardItemsAsync(selectedFileLoader());
    }

    private async Task LoadDashboardItemsAsync(IAsyncEnumerable<(string Name, byte[] Contents)> contents)
    {
        this.IsLoading = true;
        this.StateHasChanged();
        await Task.Delay(200);

        try
        {
            await foreach (var (name, bytes) in contents)
            {
                this.DashboardService.AddDashboardItem(name, bytes);
            }
        }
        catch (Exception e) { Console.WriteLine(e.ToString()); }
        finally
        {
            this.IsLoading = false;
            if (this.Items != null)
            {
                this.OnItemSelected(this.Items.Last());
            }
            this.StateHasChanged();
        }

    }

    public async ValueTask DisposeAsync()
    {
        if (this.JSModule != null) await this.JSModule.DisposeAsync();
    }

    public class MenuSelectedEventArgs : EventArgs
    {
        public DashboardItem SelectedItem { get; }

        public MenuSelectedEventArgs(DashboardItem selectedItem)
        {
            this.SelectedItem = selectedItem;
        }
    }
}
