::deep igc-button.file-selector-button::part(base) {
    color: #fff;
}

.dashboard-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.progressMessage {
}

.progressStyle {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.dashboardList {
    padding: 0;
}

.dashboardItem {
    padding: 12px;
    list-style-type: none !important;
    color: #2b2c34;
    margin: 3px;
}

    .dashboardItem:hover {
        background: #d1d1e9 !important;
        cursor: pointer;
    }

.dashboardItemActive {
    background: #d1d1e9 !important;
}

.fileUploadRegion {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.guide-message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    margin: 10px 0;
}

::deep .drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: dashed 2px transparent;
    transition: border linear 0.2s;
}

    /* hover CSS クラスが付いたら、オレンジ色の破線の枠を表示するよう定義 */
    ::deep .drop-zone.hover {
        border: dashed 2px darkorange;
    }
