::deep igc-button {
    width: 100%;
    min-width: 220px;
}

    ::deep igc-button::part(base) {
        color: #fff;
    }

    ::deep igc-button.load-sample-button::part(base) {
        background-color: hsla(var(--igc-primary-500), var(--igc-primary-a));
    }

.dashboard-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

::deep .drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: dashed 4px transparent;
    transition: border linear 0.2s;
}

.scroll-window {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

    ::deep .drop-zone::after {
        content: "ここににファイルをドロップ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255,255,255,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        text-align: center;
        opacity: 0;
        transition: opacity linear 0.2s;
        pointer-events: none;
    }

    /* hover CSS クラスが付いたら、オレンジ色の破線の枠を表示するよう定義 */
    ::deep .drop-zone.hover {
        border: dashed 4px darkorange;
    }

        ::deep .drop-zone.hover::after {
            opacity: 1;
            pointer-events: all;
        }

.file-upload-region {
    padding: 0 12px;
    text-align: center;
}

.divider {
    position: relative;
    font-size: 10.5px;
    height: 1em;
    margin-top: -6px;
    margin-bottom: -6px;
}

    .divider::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-bottom: solid 1px #ccc;
    }

    .divider::after {
        position: absolute;
        content: "または";
        padding: 0 10px;
        background-color: var(--igc-pane-content-background, var(--igc-border-color, #F3F5F7));
        top: 0;
        left: 0;
        right: 0;
        right: 0;
        width: 3em;
        height: 1em;
        line-height: 1em;
        margin: auto;
    }

.guide-message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    margin: 14px 0 0 0;
}

.progress-style {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.progress-message {
}

.dashboard-list {
    padding: 0;
}

.dashboard-item {
    padding: 12px;
    list-style-type: none !important;
    color: #2b2c34;
    margin: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color ease 0.2s;
}

    .dashboard-item .material-icons {
        color: darkgreen;
        margin-right: 4px;
    }

    .dashboard-item:hover {
        background: #e3e3f0;
        cursor: pointer;
    }

.dashboard-item-active {
    background: #d1d1e9 !important;
}
