header {
    height: 54px;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: solid 2px var(--ig-primary-500);
}

    header h1 {
        color: var(--ig-primary-500);
        line-height: unset;
        margin: 0;
        flex: 1;
        font-size: xx-large;
        font-weight: bold;
    }

::deep igc-button::part(base) {
    color: #fff;
    background-color: var(--ig-primary-500);
}

::deep igc-dropdown-item {
    transition: background-color ease 0.2s;
}

    ::deep igc-dropdown-item[active],
    ::deep igc-dropdown-item[selected] {
        background: unset;
    }

        ::deep igc-dropdown-item[active]:hover,
        ::deep igc-dropdown-item[selected]:hover {
            background-color: var(--ig-gray-200);
        }

    ::deep igc-dropdown-item .material-icons {
        margin-right: 4px;
    }

    ::deep igc-dropdown-item::part(content) {
        display: flex;
    }
