<div class="pageHeader">

    <div class="pageTitle">
        Blazor Dashboard
    </div>

    <div class="pageMenu">
        <a href="https://jp.infragistics.com/products/ignite-ui-blazor" target="_blank">
            <span class="material-icons">sms</span>
        </a>
    </div>

</div>
